<div class="row">
	<div class="col-12 text-center mt-4 mb-3">
		<h1>Simple TODO Lists</h1>
	</div>
</div>

<div class="row">
	<div class="col-12 text-center mb-3">
		<%= link_to t('.add'), new_category_path, class: 'btn btn-outline-info' %>
	</div>
	<div class="col-12">
		<% @categories.each_with_index do |category, index| %>
			<% category.posts.each do |post| %>
				<%= link_to post.title, post_path(post) %>
			<% end %>
			<div class="cat-list">
				<%= link_to category.name, category %>
				<div>
					<%= link_to t('.edit'), edit_category_path(category), class: 'btn btn-sm btn-success' %>
					<%= link_to t('.del'), category_path(category), method: :delete, data: {confirm: 'Вы уверены?'}, class: 'btn btn-sm btn-danger' %>
				</div>
			</div>
		<% end %>
	</div>
</div>