<h1><%= @post.title %></h1>
<div class="card-tags">
	<%= raw @post.tags.map(&:name).map{|t| link_to t, tag_path(t), class: 'badge badge-pill badge-firm'}.join(' ') %>
</div>

<% if @post.category.present? %>
	<%= link_to @post.category.name, @post.category %>
<% end %>

<%= link_to 'Delete', post_path(@post), method: :delete, data: {confirm: 'Are you sure?'} %>
<p><%= @post.body %></p>