<!DOCTYPE html>
<html>
  <head>
    <title>Todolist</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="app-title">
      <h1>Simple ToDo Lists</h1>
      <p>From Ruby Garage</p>
    </div>

    <% flash.each do |name, message| %>
      <div class="container text-center mt-4 mb-3">
        <div class="alert alert-<%= name %>">
          <%= message %>
        </div>
      </div>
    <% end %>

    <%= yield %>

    <div class="app-add-button">
      <%= link_to new_category_path, class: 'btn btn-lg' do %>
         <i class="fas fa-plus"></i>
         Add TODO List
      <% end %>
    </div>

    <div class="app-copy">
      <p><i class="far fa-copyright"></i> Ruby Garage</p>
    </div>

  </body>
</html>
